#about {
  scroll-margin-top: 21rem;
}

.about {
  grid-template-columns: 2fr 3fr;
  gap: 8rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0.7rem;
  }

  &__btn {
    align-self: start;
    justify-self: start;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 1.5rem;
    background: $gradient-primary;

    color: $color-gray-light;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }

  &__box {
    grid-template-columns: 1fr 5fr;
    gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }
}
