.header {
  height: 87vh;
  max-width: 80%;
  margin: auto;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: center;
  justify-items: center;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }

  &__img {
    height: 70vh;

    @include respond(tab-land) {
      height: 25rem;
    }

    @include respond(phone) {
      height: 17rem;
    }
  }
}
