$color-primary: #555555;
$color-secondary: #8e8d8d;
$color-gray-light: #eeeeee;
$color-gray-light-2: #e6e6e6;
$color-blue: #6ca5f4;

$gradient-primary: linear-gradient(to bottom, #7cdaf4 0%, #66a6ff 100%);
$gradient-secondary: linear-gradient(to bottom, #2f98b5 0%, #3465a5 100%);
